body {
    margin-left:100px;
    margin-right:100px;
    margin-top:40px;
}

h1 {
    font-family: sans-serif;
}

#menu {
    overflow: hidden;
    margin-bottom:10px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    padding: 8px;
    background-color: #90C3D4;
    font-family: "Arial", sans;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}

#menu a:hover {
    background-color: #7AADC4;
}

#infobox {
    float: right;
    background-color: #e6e6e6;
    padding: 4px;
    border-radius: 8px;
    font-family: "Arial", sans;
    font-size: 16px;
}

#content {
    background-color: #FFFFFF;
    border: 1px solid black;
}

#question {
    padding: 10px;
    background-color: #CCCCCC;
    border-left: 10px solid gray;
}
